    .dp_breadcrumb {
        width: 100%;
        height: 100px;
    }
    
    #J_breadcrumb {
        width: 2500px;
        height: 100%;
    }
    
    .breadcrumb_list .breadcrumb .breadcrumb_item .breadcrumb_item_text .breadcrumb_item_anchor {
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        color: #1a9cb7;
        padding: 0 4px;
        font-size: 14px;
        font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
        max-width: 500px;
        white-space: nowrap;
        line-height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .breadcrumb_list .breadcrumb .breadcrumb_item .breadcrumb_item_text .breadcrumb_item_anchor_last {
        color: #757575;
        max-width: none;
        height: 16px;
        line-height: 16px;
        white-space: normal;
        font-style: italic;
        font-weight: normal;
    }
    
    .breadcrumb_list .breadcrumb .breadcrumb_item .breadcrumb_item_text {
        vertical-align: middle;
        padding: 0;
        margin: 0;
        line-height: 100%;
        display: inline-block;
        font-weight: 300;
    }
    
    .breadcrumb_list .breadcrumb .breadcrumb_item {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        font-size: 13px;
        font-weight: 300;
        height: 48px;
    }
    
    li {
        text-align: -webkit-match-parent;
    }
    
    .breadcrumb_list .breadcrumb {
        padding-left: 0;
        margin-left: -4px;
        height: 48px;
        vertical-align: middle;
        display: inline-block;
        white-space: nowrap;
    }
    
    ul {
        list-style: none;
    }
    
    ul {
        list-style-type: disc;
    }
    
    #sp a {
        text-decoration: none;
    }
    /*panel*/
    
    .panel {
        border: none;
        box-shadow: none;
        background-color: #c8f4fc;
        margin-bottom: 30px;
    }
    
    #title-color{
        font-size: 20px; 
        color:rgb(10, 10, 122);
    }
    .panel-heading {
        border-color: #eff2f7;
        font-size: 16px;
        font-weight: 300;
    }
    
    .panel-title {
        color: #2A3542;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 0;
        font-family: 'Open Sans', sans-serif;
    }
    
    .panel-body {
        width: 100%;
        margin-top: 0px;
    }
    /*product list*/
    
    .prod-cat li a {
        border-bottom: 1px dashed #d9d9d9;
    }
    
    .prod-cat li a {
        color: #3b3b3b;
    }
    
    .prod-cat li ul {
        margin-left: 30px;
    }
    
    .prod-cat li ul li a {
        border-bottom: none;
    }
    
    .prod-cat li ul li a:hover,
    .prod-cat li ul li a:focus,
    .prod-cat li ul li.active a,
    .prod-cat li a:hover,
    .prod-cat li a:focus,
    .prod-cat li a.active {
        background: none;
        color: #ff7261;
    }
    
    .pro-lab {
        margin-right: 20px;
        font-weight: normal;
    }
    
    .pro-sort {
        padding-right: 20px;
        float: left;
    }
    
    .pro-page-list {
        margin: 5px 0 0 0;
    }
    
    .product-list img {
        width: 100%;
        border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
    }
    
    .product-list .pro-img-box {
        position: relative;
    }
    
    .adtocart {
        background: #fc5959;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #fff;
        display: inline-block;
        text-align: center;
        border: 3px solid #fff;
        left: 45%;
        bottom: -25px;
        position: absolute;
    }
    
    .adtocart i {
        color: #fff;
        font-size: 25px;
        line-height: 42px;
    }
    
    .pro-title {
        color: #5A5A5A;
        display: inline-block;
        margin-top: 20px;
        font-size: 20px;
    }
    
    .product-list .price {
        color: #fc5959;
        font-size: 15px;
    }
    
    .pro-img-details {
        margin-left: -15px;
    }
    
    .pro-img-details img {
        width: 100%;
    }
    
    .pro-d-title {
        font-size: 16px;
        margin-top: 0;
    }
    
    .product_meta {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        margin: 15px 0;
    }
    
    .product_meta span {
        display: block;
        margin-bottom: 10px;
    }
    
    .product_meta a,
    .pro-price {
        color: #f87335;
        font-weight: bold;
    }
    
    .pro-price,
    .amount-old {
        font-size: 18px;
        padding: 0 10px;
    }
    
    .amount-old {
        text-decoration: line-through;
    }
    
    .quantity {
        width: 120px;
    }
    
    .pro-img-list {
        margin: 10px 0 0 -15px;
        width: 100%;
        display: inline-block;
    }
    
    .pro-img-list a {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
    .pro-d-head {
        font-size: 18px;
        font-weight: 300;
    }
    
    .text_dp {
        font-size: 16px;
        margin-left: 30px;
    }
    
    .btnBuy {
        margin-top: 10px;
        margin-left: -30px;
    }
    
    .img-pro {
        width: 11.5rem;
        height: 10rem;
        float:left;
        margin-right: 1rem;
    }

    .inputqlt { 
        width:5rem; 
        text-align:center; 
        margin-left:1.5rem;
    }

    #ctnn {
        height: 500px;
        width: 30,06rem;
        margin-top: auto; 
        margin-bottom: auto;
    }

    #btn-buy {
        height: 40px;
        font-size: 16px;
    }

.fb{
    padding-left: 4rem;
    background-color: rgb(245, 215, 215);
    height: 4rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    padding-top: .7rem;
}

.fb p{
    font-size: 18px;
}
.feedback{
    background-color:#c8f4fc;
    padding-bottom: 0rem;
    margin-bottom: 2rem;
}

.fb-body{
    margin-top: -2rem;
    padding-bottom: 8rem;
    /* width: 99%; */
    /* background-color: lightblue; */
    height: 5rem;
}

.name-customer{
    height: 2rem;
    font-size: 16px;
    font-weight: bold;
}

.fb-content{
    float: left;    
    width: 94%;
    font-size: 16px;
}

.fb-name{
    float: left;
}

.fb-time{
    height: 2rem;
    margin-left: 2rem;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    float: left;
}