/* Categories */
.categories {
    background-image: linear-gradient(to bottom, var(--third-color), white);
  }
  .cateHeader {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 4.8rem;
  }
  
  .cateImage {
    width: 100%;
    height: 33.1rem;
    background: url(../../images/work.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cateImage--2 {
    background: url(../../images/gaming.jpg) center no-repeat;
    background-size: cover;
  }
  
  .cateImage--3 {
    background: url(../../images/high.jpg) center no-repeat;
    background-size: cover;
  }
  .cateImage_overlay {
    background-color: rgba(0, 0, 0, 0.8);
    width: 35.8rem;
    height: 24.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .cateImage_title {
    color: var(--first-color);
    text-align: center;
    font-family: var(--main-font);
    font-size: 3.96rem;
  }
  
  .cateImage_title--2 {
    color: var(--second-color);
  }
  
  .cateImage_title--3 {
    color: var(--third-color);
  }
  
  .cateImage_subtitle {
    position: absolute;
    background-color: red;
    width: 22.6rem;
    border-radius: 2rem 2rem 0 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 2.5rem;
    transition: all 0.3s;
    height: 0;
    opacity: 0;
  }
  
  .cateImage_subtitle:hover {
    color: white;
    opacity: 0.8;
  }
  
  .cateImage:hover .cateImage_subtitle {
    height: 3.3rem;
    opacity: 1;
  }
  
  .cateImage_subtitle_content {
    font-size: 2.5rem;
    margin: 0 0 0 0.5rem;
  }
  
  .cateContent {
    background-color: var(--first-color);
    height: 52.4rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0 0 2rem 2rem;
    position: relative;
    transition: height 0.3s;
  }
  .cateContent--2 {
    background-color: var(--second-color);
  }
  .cateContent--3 {
    background-color: var(--third-color);
  }
  .cateContent_header {
    font-size: 3.1rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    transition: all 0.3s;
    opacity: 1;
  }
  .cateContent_header_description {
    font-size: 2.5rem;
    padding: 0rem 3rem;
    transition: all 0.3s;
    opacity: 1;
  }
  .btnUp {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3.3rem;
    width: 5.7rem;
    border-radius: 4.5rem 4.5rem 0 0;
    border: none;
    background-color: black;
    color: white;
    font-size: 2rem;
  }
  .btnUp i {
    animation: up 2s infinite;
  }

  @keyframes up {
    0% {
      transform: translateY(0.5rem);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-0.5rem);
    }
  }